<!DOCTYPE html>
<html lang="en">

<head>
    <title>Awake Labs 2017 Coding Challenge</title>
    <!--Makes page look nice-->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>
            <h3 class="text-muted">Awake Labs 2017 Coding Challenge </h3>
        <div class="jumbotron">
            <h1>Favourite Hikes</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <!--Creates links to new pages for creation, updating, and deleting hike information-->
                <h4>Create Hike Data for MySQL:</h4>
                <li role="presentation"><a href="showCreate">Create</a></li>

                <h4>Update Hike Data in MySQL:</h4>
                <li role="presentation"><a href="showUpdate">Update</a></li>

                <h4>Delete Hike Data From MySQL:</h4>
                <li role="presentation"><a href="showDelete">Delete</a></li>

                <footer class="footer">
            <p>Tori Koelewyn</p>
        </footer>

    </div>
</body>

</html>