<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Awake Labs 2017 Coding Challenge Create Hike Entry</title>
      <!--Makes page look nice-->
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link href="../templates/delete.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Awake Labs 2017 Coding Challenge</h3>
            <nav>
            <ul class="nav nav-pills pull-right">
                    <!--Creates a home button, that connects back to the home page-->
                    <li role="presentation" class="active"><a href="/" title="Back to the Home page"><b>HOME</b></a>
            </ul>
            </nav>
        </div>

      <div class="jumbotron">
        <h1>Delete a Hike Entry</h1>
          <!--Creates the "Delete Hike" button-->
          <button id="btnCreate" class="btn btn-lg btn-primary btn-block" type="button">Delete Hike Entry</button>
      </form>
      </div>

      <footer class="footer">
        <p>Tori Koelewyn</p>
      </footer>

    </div>
  </body>
</html>